/*************************************
       WELCOME TO THE STYLESHEET
--------------------------------------
              screen.css
        BlueTrip CSS Framework
         http://bluetrip.org
***************************************/

/*** MEYER RESET v1.0 ***/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

/*** BASIC TYPOGRAPHY ***/
html { font-size: 62.5%; font-family: Verdana, Helvetica, Arial, sans-serif; }
strong, th, thead td, h1, h2, h3, h4, h5, h6 { font-weight: bold; }
cite, em, dfn { font-style: italic; }
code, kbd, samp, pre, tt, var, input[type='text'], input[type='password'], textarea { font-size: 92%; font-family: monaco, "Lucida Console", courier, monospace; }
del { text-decoration: line-through; color: #666; }
ins, dfn { border-bottom: 1px solid #ccc; }
small, sup, sub { font-size: 85%; }
abbr, acronym { text-transform: uppercase; font-size: 85%; letter-spacing: .1em; }
a abbr, a acronym { border: none; }
abbr[title], acronym[title], dfn[title] { cursor: help; border-bottom: 1px solid #ccc; }
sup { vertical-align: super; }
sub { vertical-align: sub; }

/*** QUOTES ***/
blockquote { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; color: #666; }
blockquote *:first-child:before { content: "\201C"; }
blockquote *:first-child:after { content: "\201D"; }

/*** FORMS ***/
fieldset { padding:1.4em; margin: 0 0 1.5em 0; border: 1px solid #ccc; }
legend { font-weight: bold; font-size:1.2em; }
label { font-weight: bold; }
textarea, input[type='text'], input[type='password'], select { border: 1px solid #ccc; background: #fff; }
textarea:hover, input[type='text']:hover, input[type='password']:hover, select:hover { border-color: #aaa; }
textarea:focus, input[type='text']:focus, input[type='password']:focus, select:focus { border-color: #888; outline: 2px solid #ffffaa; }
input, select { cursor: pointer; }
input[type='text'],input[type='password'] { cursor: text; }

/*** BASE SIZES ***/
.container { font-size: 1.2em; line-height: 2em; }
h1 { font-size: 1.9em; }
h2 { font-size: 1.7em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.3em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1em; }

/*** LISTS ***/
ul li { margin-left: .85em; }
ul { list-style-type: disc; }
ul ul { list-style-type: square; }
ul ul ul { list-style-type: circle; }
ol { list-style-position: outside; list-style-type: decimal; }
dt { font-weight: bold; }

/*** TABLES ***/
table { border-top: 1px solid #ccc;  border-left: 1px solid #ccc; }
th, td { border-bottom: 1px solid #ddd; border-right: 1px solid #ccc; }

/*** MARGINS & PADDINGS ***/
blockquote *:first-child { margin: .8em 0; }
hr, p, ul, ol, dl, pre, blockquote, address, table, form { margin-bottom: 1.6em; }
/*** NOTE: Calulate header margins: TOP: 1.6em/size, BOTTOM: 1.6em/size/2 ***/
h1 { margin: 1em 0 .5em;  }
h2 { margin: 1.07em 0 .535em; }
h3 { margin: 1.14em 0 .57em; }
h4 { margin: 1.23em 0 .615em; }
h5 { margin: 1.33em 0 .67em; }
h6 { margin: 1.6em 0 .8em; }
th, td { padding: .8em; }
caption { padding-bottom: .8em; } /*** padding instead of margin for IE ***/
blockquote { padding: 0 1em; margin: 1.6em 0; }
fieldset { padding: 0 1em 1em 1em; margin: 1.6em 0; } /*** padding-top is margin-top for fieldsets in Opera ***/
legend { padding-left: .8em; padding-right: .8em; }
legend+* { margin-top: 1em; } /*** compensates for the opera margin bug ***/
textarea, input { padding: .3em .4em .15em .4em; }
select { padding: .1em .2em 0 .2em; }
option { padding: 0 .4em; }
a { position: relative; padding: 0.3em 0 .1em 0; } /*** for larger click-area ***/
dt { margin-top: .8em; margin-bottom: .4em; }
ul { margin-left: 1.5em; }
ol { margin-left: 2.35em; }
ol ol, ul ol { margin-left: 2.5em; }
form div { margin-bottom: .8em; }

/*** COLORS ***/
a:link { text-decoration: underline; color: #36c; }
a:visited { text-decoration: underline; color: #99c; }
a:hover { text-decoration: underline; color: #c33; }
a:active, a:focus { text-decoration: underline; color: #000; }
code, pre { color: #c33; } /*** very optional, but still useful. W3C uses about the same colors for codes ***/

/*** 12 COLUMN GRID ***/
.container { padding: 0 20px 0 20px;}

.row {width: 100%; max-width: 1140px; margin: 0 auto; overflow: hidden;}
.row.showgrid {background: url(../images/grid.png);}

.span-1,.span-2,.span-3,.span-4,.span-5,.span-6,.span-7,.span-8,.span-9,.span-10,.span-11 {	margin-right: 3.8%;	float: left;}

.span-1 {width: 4.85%}
.span-2 {width: 13.5%}
.span-3 {width: 22.15%}
.span-4 {width: 30.8%}
.span-5 {width: 39.45%}
.span-6 {width: 48.1%}
.span-7 {width: 56.75%}
.span-8 {width: 65.4%}
.span-9 {width: 74.05%}
.span-10 {width: 82.7%}
.span-11 {width: 91.35%}
.span-12 {width: 100%;float: left}
.last {margin-right: 0}

.prefix-1 {margin-left: 8.65%;}
.prefix-2 {margin-left: 17.3%;}
.prefix-3 {margin-left: 25.95%;}
.prefix-4 {margin-left: 34.6%;}
.prefix-5 {margin-left: 43.25%;}
.prefix-6 {margin-left: 51.9%;}
.prefix-7 {margin-left: 60.55%;}
.prefix-8 {margin-left: 69.2%;}
.prefix-9 {margin-left: 77.85%;}
.prefix-10 {margin-left: 86.5%;}
.prefix-11 {margin-left: 95.15%;}

img,object,embed {max-width: 100%}

hr {background:#ddd;color:#ddd;clear:both;float:none;width:100%;height:.1em;margin:0 0 1.45em;border:none;}
hr.space {background:#fff;color:#fff;}
.clearfix:after, .container:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;max-height:0;overflow:hidden;}
.clearfix, .container {display:inline-block;}
* html .clearfix, * html .container {height:1%;}
.clearfix, .container {display:block;}
.clear {clear:both;}

/*** FANCY SERIF ***/
.fancy { color: #666; font-family: "Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua", Georgia, serif; font-style: italic; font-weight: normal; }

/*** SMALL CAPS ***/
.caps { font-variant: small-caps; letter-spacing: 1px; text-transform: lowercase; font-size:1.2em; font-weight:bold; padding:0 2px; }

/*** NO LINK ICON (use class="noicon" to remove the link icon from a specific link) ***/
body a.noicon { background:none !important; padding:0 !important; margin:0 !important; }

/*** LINK PADDING FOR ICONS ***/
a[href^="http:"],
a[href^="mailto:"],
a[href$=".pdf"],
a[href$=".doc"],
a[href$=".xls"],
a[href$=".rss"],
a[href$=".rdf"],
a[href^="aim:"] { padding:2px 22px 2px 0; margin:-2px 0; background-repeat: no-repeat; background-position: right center; }

/*** EXTERNAL LINK ICONS ***/
a[href^="http:"]          { background-image: url(../images/icons/external.png); padding-right: 14px; }
a[href^="mailto:"]        { background-image: url(../images/icons/email.png); }
a[href^="http:"]:visited  { background-image: url(../images/icons/visited.png); }

/*** FILE LINK ICONS ***/
a[href$=".pdf"]   { background-image: url(../images/icons/pdf.png); }
a[href$=".doc"]   { background-image: url(../images/icons/doc.png); }
a[href$=".xls"]   { background-image: url(../images/icons/xls.png); }

/*** MISCELLANEOUS LINK ICONS ***/
a[href$=".rss"],
a[href$=".rdf"]   { background-image: url(../images/icons/feed.png); }
a[href^="aim:"]   { background-image: url(../images/icons/im.png); }
a[href^="http://yourwebsite.com"] { background:none; padding:0; margin:0; }

/*** TEXT CLASSES ***/
.small {font-size:.8em;margin-bottom:1.875em;line-height:1.875em;}
.large {font-size:1.2em;line-height:2.5em;margin-bottom:1.25em;}
.hide {display:none;}
.quiet {color:#666;}
.loud {color:#000;}
.highlight {background:#ff0;}
.top {margin-top:0;padding-top:0;}
.bottom {margin-bottom:0;padding-bottom:0;}
.thin {font-weight: lighter;}
.error, .notice, .success {padding:.8em;margin-bottom:1.6em;border:2px solid #ddd;}
.error, .error {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
input.invalid {color:#8a1f11;border-color:#FBC2C4;}
.notice {background:#FFF6BF;color:#514721;border-color:#FFD324;}
.success {background:#E6EFC2;color:#264409;border-color:#C6D880;}
.error a {color:#8a1f11; background:none; padding:0; margin:0; }
.notice a {color:#514721; background:none; padding:0; margin:0; }
.success a {color:#264409; background:none; padding:0; margin:0; }
.center {text-align: center;}

/*** STYLES FOR BUTTONS ***/
a.button, button {
  display: inline-block;
  float: left;
  margin:0 0.583em 0.667em 0;
  padding:5px 10px 5px 7px;   /*** Links ***/
  border:1px solid #dedede;
  border-top:1px solid #eee;
  border-left:1px solid #eee;
  background-color:#f5f5f5;
  font-family:"Liberation Sans", Helvetica, Arial, sans-serif;
  font-size:100%;
  line-height:130%;
  text-decoration:none;
  font-weight:bold;
  color:#565656;
  cursor:pointer;
}
button { width:auto; overflow:visible; padding:4px 10px 3px 7px; }
button[type] { padding:4px 10px 4px 7px; line-height:17px; }
*:first-child+html .container button[type] { padding:4px 10px 3px 7px; }
button img, a.button img{ margin:0 3px -3px 0 !important; padding:0; border:none; width:16px; height:16px; float:none; }

/*** STANDARD BUTTONS ***/
button:hover, a.button:hover{ background-color:#dff4ff; border:1px solid #c2e1ef; color:#336699; }
a.button:active, button:active{ background-color:#6299c5; border:1px solid #6299c5; color:#fff; }

/*** POSITIVE (LIGHT BACKGROUND) ***/
body .positive { color:#529214; }
a.positive:hover, button.positive:hover { background-color:#E6EFC2; border:1px solid #C6D880; color:#529214; }
a.positive:active, button.positive:active { background-color:#529214; border:1px solid #529214; color:#fff; }

/*** NEGATIVE (DARK BACKGROUND)***/
body .negative { color:#d12f19; }
a.negative:hover, button.negative:hover { background:#fbe3e4; border:1px solid #fbc2c4; color:#d12f19; }
a.negative:active, button.negative:active { background-color:#d12f19; border:1px solid #d12f19; color:#fff; }
